<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<location path="." allowOverride="true" inheritInChildApplications="false">
		<system.webServer>
			<directoryBrowse enabled="false" />
			<defaultDocument>
				<files>
					<clear />
					<add value="index.php" />
					<add value="index.html" />
					<add value="index.htm" />
				</files>
			</defaultDocument>
			<rewrite>
				<rules>
					<rule name="mystep" stopProcessing="true">
						<match url="/((?!index\.php).+)$" ignoreCase="true" />
						<conditions logicalGrouping="MatchAll">
							<add input="{HTTP_HOST}" pattern="^(.*)$" />
							<add input="{URL}" pattern="\.(jpg|png|gif|ico|css|js|html|htm|woff|woff2|eot|svg|ttf|map)$" ignoreCase="false" negate="true" />
						</conditions>
						<action type="Rewrite" url="/index.php?{R:1}" appendQueryString="true" />
					</rule>
				</rules>
			</rewrite>
			<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		</system.webServer>
	</location>
</configuration>