html, body {
    min-height:100%;
    font-size:14px;
}
body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
}
.font-sm{font-size:12px;}
.font-md{font-size:16px;}
.font-lg{font-size:24px;}
.bg-transparent-half{background-color:rgba(255,255,255,0.5);}
.rb {border:1px red solid;}
td {vertical-align: middle;word-break:break-all;word-wrap:break-word;}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}
.nowrap {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.no-wrap {
    white-space:nowrap;
    overflow:hidden;
}
.watermark {
    position:absolute;
    width:1px;
    height:1px;
    overflow:hidden;
}
.password {
    position: absolute;
    z-index: 5;
    top: 3px;
    right: 8px;
    width: 32px;
    height: 32px;
    background-image: url('/static/images/icon_eye.png');
    background-repeat: no-repeat;
    background-position:0 0;
}